---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import TopBar from "../components/TopBar.astro";
import Footer from "../components/Footer.astro";
import PlaylistCard from "../components/PlaylistCard.astro";
import Shelf from "../components/Shelf.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>

    <main> 
      <img src="../viz.svg" alt="">   </main>

  </body>
</html>
